body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.redButton {
    background-color: red;
    border-color: black;
    color: white;
}

.redButton:hover {
    background-color: white;
    color: black;
}

/*Index page*/

.jumbotron {
    margin-top: 20px;
    background-image: url('Images/dragon.jpg');
    background-size: cover;
    height: 500px;
}

/*About Me page*/

#selfie {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 300px;
    width: 300px;
}

/*Contact page*/

#raven {
    border-radius: 50%;
    position: absolute;
    bottom: -200px;
    right: 250px;
}

#contact {
    background-image: url('Images/scroll.png');
    background-size: cover;
    height: 575px;
    color: black;
    background-color: black;
}

#address {
    position: absolute;
    top: 350px;
    left: 225px;
}

#email {
    color: black;
}

#email:hover {
    color: red;
    text-decoration: none;
}